.style_testnet__aYl3c .style_status__xM_LP {
    display: flex;
    flex-direction: column;
    width: calc(var(--1)*583);
    max-width: 100%;
    margin-inline: auto;
    gap: calc(var(--1)*12)
}

.style_testnet__aYl3c .style_status__xM_LP .style_item__8CCuu {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*20);
    padding: calc(var(--1)*16);
    border-radius: calc(var(--1)*8);
    border: 1px solid rgba(42, 180, 255, .251)
}

@media(max-width:991.98px) {
    .style_testnet__aYl3c .style_status__xM_LP .style_item__8CCuu {
        gap: calc(var(--1)*16);
        padding: calc(var(--1)*12)
    }
}

.style_testnet__aYl3c .style_status__xM_LP .style_item__8CCuu .style_head__tUlDd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(var(--1)*20)
}

@media(max-width:991.98px) {
    .style_testnet__aYl3c .style_status__xM_LP .style_item__8CCuu .style_head__tUlDd p {
        font-size: calc(var(--1)*16)
    }
}

.style_testnet__aYl3c .style_status__xM_LP .style_item__8CCuu .style_head__tUlDd .style_progress___15k7 {
    display: flex;
    align-items: center;
    gap: calc(var(--1)*5)
}

.style_testnet__aYl3c .style_status__xM_LP .style_item__8CCuu .style_head__tUlDd img {
    width: calc(var(--1)*24);
    height: calc(var(--1)*24)
}

@media(max-width:991.98px) {
    .style_testnet__aYl3c .style_status__xM_LP .style_item__8CCuu .style_head__tUlDd img {
        width: calc(var(--1)*16);
        height: calc(var(--1)*16)
    }
}

@media(min-width:991.98px) {
    .style_whytestnet__w4hTc .style_cards__l3rsJ {
        grid-template-columns: repeat(3, 1fr)
    }
}

.style_whytestnet__w4hTc .style_cards__l3rsJ {
    display: grid;
    gap: calc(var(--1)*20)
}

.style_whytestnet__w4hTc .style_cards__l3rsJ .style_card__ec5jx>div {
    height: 100%
}

@media(min-width:991.98px) {
    .style_whytestnet__w4hTc .style_cards__l3rsJ {
        grid-template-columns: repeat(3, 1fr);
        -moz-column-gap: calc(var(--1)*24);
        column-gap: calc(var(--1)*24);
        row-gap: calc(var(--1)*40)
    }

    .style_whytestnet__w4hTc .style_cards__l3rsJ>div:last-child {
        grid-column: span 3
    }
}