.style_devreleases__ObT_M .style_container__YKMqt {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*40)
}

@media(min-width:991.98px) {
    .style_devreleases__ObT_M .style_container__YKMqt {
        gap: calc(var(--1)*80)
    }
}

.style_devreleases__ObT_M .style_cards__vscfL {
    display: grid;
    gap: calc(var(--1)*20)
}

@media(min-width:991.98px) {
    .style_devreleases__ObT_M .style_cards__vscfL {
        grid-template-columns: repeat(3, 1fr)
    }
}

@keyframes style_revealDev__8w4FS {
    0% {
        height: 0
    }

    to {
        height: calc(var(--1)*270)
    }
}

.style_devreleases__ObT_M .style_cards__vscfL .style_loading__hUaLe {
    animation: style_revealDev__8w4FS .5s ease-in-out forwards
}

.style_devreleases__ObT_M .style_button__B1g6u {
    margin-inline: auto;
    margin-top: calc(var(--1)*40)
}

@media(min-width:991.98px) {
    .style_devreleases__ObT_M .style_button__B1g6u {
        margin-top: calc(var(--1)*80)
    }
}

.style_devcard__HHSiF {
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: calc(var(--1)*32);
    height: calc(var(--1)*270)
}

.style_devcard__HHSiF .style_img__arX9f {
    min-width: calc(var(--1)*101);
    width: calc(var(--1)*101);
    height: calc(var(--1)*270);
    background-image: url(../../../images/dev-bg.png);
    background-position: 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-block: calc(var(--1)*40)
}

.style_devcard__HHSiF .style_content__DIKMy {
    display: flex;
    flex-direction: column;
    padding-inline: calc(var(--1)*40);
    padding-block: calc(var(--1)*40) calc(var(--1)*24);
    background-color: var(--dark);
    gap: calc(var(--1)*20)
}

.style_devcard__HHSiF .style_content__DIKMy .style_title__8HQ6A {
    font-weight: 700;
    min-width: -moz-max-content;
    min-width: max-content
}

.style_devcard__HHSiF .style_content__DIKMy .style_button__7kB01 {
    margin-top: auto
}