.style_externalbtns__kvJLn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(var(--1)*20);
    margin-top: calc(var(--1)*24);
    justify-content: center
}

@media(max-width:991.98px) {

    .style_externalbtns__kvJLn a,
    .style_externalbtns__kvJLn button {
        font-size: calc(var(--1)*14) !important
    }
}

.style_container__ewOE6 {
    align-items: flex-start !important;
    flex-direction: column;
    align-items: center !important;
    text-align: center
}

@media(min-width:991.98px) {
    .style_container__ewOE6 {
        gap: 0 !important
    }
}

@media(max-width:991.98px) {
    .style_container__ewOE6 {
        transform: translateY(calc(var(--1) * -60));
        margin-bottom: calc(var(--1)*-60) !important
    }
}

@media(min-width:991.98px) {
    .style_container__ewOE6 img {
        transform: translateY(calc(var(--1) * -70));
        margin-bottom: calc(var(--1)*-70)
    }
}

.style_content__P7WeL,
.style_texts__3tFZ5 {
    gap: calc(var(--1)*12) !important
}

.style_title__fO9DD {
    margin-bottom: 0 !important
}