@keyframes style_fadeIn__si5r7 {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.style_ModalOverlay__GKtFH {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    overflow-y: auto;
    padding-block: .5vw;
    transition: all .5s ease-in-out;
    z-index: 9998
}

.style_ModalOverlay__GKtFH.style_register__kgVJg {
    z-index: 9997
}

.style_ModalOverlay__GKtFH.style_fading__rU8wc {
    opacity: 0
}

@media only screen and (max-width:767.98px) {
    .style_ModalOverlay__GKtFH {
        padding-bottom: 100px
    }
}

.style_ModalOverlay__GKtFH .style_StyledModal__91AKx {
    position: relative
}

@media(max-width:991.98px) {
    .style_ModalOverlay__GKtFH .style_StyledModal__91AKx {
        padding-inline: calc(var(--1)*10)
    }
}

.style_ModalOverlay__GKtFH .style_StyledModalBody__IDr7m {
    position: relative;
    margin-inline: auto;
    max-width: 100%
}

.style_ModalOverlay__GKtFH .style_StyledCloseIcon__2Rqot {
    position: absolute;
    right: calc(var(--1)*10);
    top: calc(var(--1)*10);
    color: var(--white);
    background-color: var(--bg-3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: calc(var(--1)*2);
    cursor: pointer;
    width: calc(var(--1)*48);
    height: calc(var(--1)*48)
}

.style_ModalOverlay__GKtFH .style_StyledCloseIcon__2Rqot img,
.style_ModalOverlay__GKtFH .style_StyledCloseIcon__2Rqot svg {
    width: calc(var(--1)*32);
    height: calc(var(--1)*32)
}

@media(max-width:991.98px) {
    .style_ModalOverlay__GKtFH .style_StyledCloseIcon__2Rqot {
        right: calc(var(--1)*10);
        width: calc(var(--1)*32);
        height: calc(var(--1)*32)
    }

    .style_ModalOverlay__GKtFH .style_StyledCloseIcon__2Rqot img,
    .style_ModalOverlay__GKtFH .style_StyledCloseIcon__2Rqot svg {
        width: calc(var(--1)*24);
        height: calc(var(--1)*24)
    }
}

.style_ModalOverlay__GKtFH .style_StyledOverlayClose__Y1YEl {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 1, .122);
    -webkit-backdrop-filter: blur(calc(var(--1) * 8));
    backdrop-filter: blur(calc(var(--1) * 8));
    opacity: 1;
    z-index: -1;
    overflow-y: auto;
    padding-block: .5vw
}

@media(max-width:991.98px) {
    .style_ModalOverlay__GKtFH .style_StyledOverlayClose__Y1YEl {
        -webkit-backdrop-filter: blur(calc(var(--1) * 3));
        backdrop-filter: blur(calc(var(--1) * 3))
    }
}

.style_title__VJGg6 {
    font-weight: 800;
    line-height: 1
}

@media(min-width:991.98px) {
    .style_title__VJGg6.style_xs__YyI9I {
        font-size: calc(var(--1)*22)
    }

    .style_title__VJGg6.style_sm__fI_bB {
        font-size: calc(var(--1)*32)
    }

    .style_title__VJGg6.style_md__tEuBB {
        font-size: calc(var(--1)*80)
    }

    .style_title__VJGg6.style_lg___IlF9 {
        font-size: calc(var(--1)*100)
    }

    .style_title__VJGg6.style_xl__IttXv {
        font-size: calc(var(--1)*48)
    }
}

@media(max-width:991.98px) {
    .style_title__VJGg6.style_xs__YyI9I {
        font-size: calc(var(--1)*22)
    }

    .style_title__VJGg6.style_sm__fI_bB {
        font-size: calc(var(--1)*32)
    }

    .style_title__VJGg6.style_lg___IlF9,
    .style_title__VJGg6.style_md__tEuBB {
        font-size: calc(var(--1)*40)
    }

    .style_title__VJGg6.style_xl__IttXv {
        font-size: calc(var(--1)*48)
    }
}

.style_subtitle__b3_RB {
    text-transform: uppercase;
    line-height: 1.25;
    font-weight: 400;
    font-size: calc(var(--1)*16);
    letter-spacing: calc(var(--1)*3.84)
}

.style_subtitle__b3_RB.style_primary__168ud {
    color: var(--primary)
}

.style_subtitle__b3_RB.style_dark__kOJyV {
    color: var(--dark)
}

.style_subtitle__b3_RB.style_light__4bx5s {
    color: var(--white)
}


@font-face {
    font-family: __DM_Sans_Fallback_975d1f;
    src: local("Arial");
    ascent-override: 94.90%;
    descent-override: 29.66%;
    line-gap-override: 0.00%;
    size-adjust: 104.53%
}

.__className_975d1f {
    font-family: __DM_Sans_975d1f, __DM_Sans_Fallback_975d1f;
    font-style: normal
}

.__variable_975d1f {
    --font-primary: "__DM_Sans_975d1f", "__DM_Sans_Fallback_975d1f"
}





.__className_47b904 {
    font-family: __Inter_47b904, __Inter_Fallback_47b904;
    font-style: normal
}

.style_section__6AOXo .style_content__sbPHz {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*80)
}

@media(max-width:991.98px) {
    .style_section__6AOXo .style_content__sbPHz {
        gap: calc(var(--1)*40)
    }
}

@media(min-width:991.98px) {
    .style_section__6AOXo .style_content__sbPHz .style_card__OyTC6 {
        align-items: center
    }
}

.style_section__6AOXo .style_content__sbPHz p {
    font-size: calc(var(--1)*22) !important
}

@media(max-width:991.98px) {
    .style_section__6AOXo .style_content__sbPHz p {
        font-size: calc(var(--1)*18) !important
    }
}

.style_input__MJkl_ {
    display: flex;
    flex-direction: column
}

.style_input__MJkl_ .style_controller__vgb6T {
    position: relative;
    padding: 1px;
    isolation: isolate;
    overflow: hidden;
    border-radius: calc(var(--1)*12)
}

.style_input__MJkl_ .style_controller__vgb6T:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(10deg, var(--primary) 0, rgba(0, 149, 255, .16) 50%, var(--primary) 100%);
    z-index: -1
}

.style_input__MJkl_ .style_controller__vgb6T.style_light__4wD52:after {
    background: #eef3f5
}

.style_input__MJkl_ .style_controller__vgb6T.style_error__uTvdm:after {
    background: linear-gradient(10deg, var(--error) 0, rgba(223, 67, 117, .463) 50%, var(--error) 100%)
}

.style_input__MJkl_ .style_controller__vgb6T.style_success__9fYxn:after {
    background: linear-gradient(10deg, #74e0d5, rgba(116, 224, 213, .439) 50%, #74e0d5)
}

.style_input__MJkl_ .style_controller__vgb6T textarea {
    padding-block: calc(var(--1)*10);
    padding-inline: calc(var(--1)*24);
    width: 100%;
    height: calc(var(--1)*140);
    background: var(--Container-On-Dark-Section, #051153);
    border-radius: calc(var(--1)*12);
    font-size: calc(var(--1)*16)
}

@media(max-width:991.98px) {
    .style_input__MJkl_ .style_controller__vgb6T textarea {
        font-size: calc(var(--1)*14);
        height: calc(var(--1)*140)
    }
}

.style_input__MJkl_ .style_controller__vgb6T.style_light__4wD52 textarea {
    background-color: #eef3f5
}

.style_input__MJkl_ .style_controller__vgb6T textarea::-webkit-inner-spin-button,
.style_input__MJkl_ .style_controller__vgb6T textarea::-webkit-outer-spin-button {
    -webkit-appearance: none
}

.style_input__MJkl_ .style_controller__vgb6T textarea[type=number] {
    -moz-appearance: textfield
}

.style_input__MJkl_ .style_controller__vgb6T.style_right__G9oCS textarea {
    padding-right: calc(var(--1)*50)
}

.style_input__MJkl_ .style_controller__vgb6T.style_left__3M4m4 textarea {
    padding-left: calc(var(--1)*50)
}

.style_input__MJkl_ .style_controller__vgb6T .style_icon__XcpHG {
    display: flex;
    width: calc(var(--1)*16);
    height: calc(var(--1)*16);
    min-width: calc(var(--1)*16);
    min-height: calc(var(--1)*16);
    -o-object-fit: contain;
    object-fit: contain
}

.style_input__MJkl_ .style_controller__vgb6T .style_customLabel__3_CsH {
    display: flex;
    margin: 0
}

.style_input__MJkl_ .style_controller__vgb6T .style_left__3M4m4 {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: calc(var(--1)*24);
    display: flex;
    align-items: center;
    gap: calc(var(--1)*10)
}

.style_input__MJkl_ .style_controller__vgb6T .style_right__G9oCS {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: calc(var(--1)*24);
    display: flex;
    align-items: center;
    gap: calc(var(--1)*10)
}

.style_input__MJkl_ label {
    margin-bottom: calc(var(--1)*10);
    font-size: calc(var(--1)*16)
}

@media(max-width:991.98px) {
    .style_input__MJkl_ label {
        font-size: calc(var(--1)*14)
    }
}

.style_input__MJkl_ .style_infoDesc__C7_75 {
    margin-top: calc(var(--1)*5)
}

.style_hero__DC06C .style_container__Mu_up {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}

.style_hero__DC06C .style_container__Mu_up .style_top__sEJTl {
    width: 100%;
    display: flex;
    flex-direction: column
}

@media(max-width:991.98px) {
    .style_hero__DC06C .style_container__Mu_up .style_top__sEJTl {
        flex-direction: column
    }
}

.style_hero__DC06C .style_container__Mu_up .style_content__g5c4q {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*40)
}

@media(max-width:991.98px) {
    .style_hero__DC06C .style_container__Mu_up .style_content__g5c4q {
        align-items: center;
        text-align: center;
        gap: calc(var(--1)*20)
    }
}

.style_hero__DC06C .style_container__Mu_up .style_content__g5c4q .style_texts__gvpIe {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*20)
}

.style_hero__DC06C .style_container__Mu_up .style_content__g5c4q .style_texts__gvpIe .style_subtitle__KV5FV {
    color: var(--white)
}

@media(max-width:991.98px) {
    .style_hero__DC06C .style_container__Mu_up .style_content__g5c4q .style_texts__gvpIe .style_subtitle__KV5FV {
        font-size: calc(var(--1)*20)
    }
}

.style_hero__DC06C .style_container__Mu_up .style_content__g5c4q .style_texts__gvpIe a {
    text-decoration: underline;
    text-underline-offset: calc(var(--1)*4)
}

.style_hero__DC06C .style_container__Mu_up .style_content__g5c4q .style_texts__gvpIe .style_title__LjqJZ {
    transform: translateY(calc(var(--1) * 10));
    text-transform: capitalize;
    line-height: .925
}

@media(min-width:991.98px) {
    .style_hero__DC06C .style_container__Mu_up .style_content__g5c4q .style_texts__gvpIe .style_title__LjqJZ {
        margin-bottom: calc(var(--1)*20);
        margin-inline: auto
    }
}

.style_hero__DC06C .style_container__Mu_up .style_content__g5c4q .style_texts__gvpIe .style_bigdesc__ZBWVQ {
    color: var(--Text-On-Dark-Text-Secondary, #c1cade);
    font-weight: 700;
    letter-spacing: 0
}

@media(max-width:991.98px) {
    .style_hero__DC06C .style_container__Mu_up .style_content__g5c4q .style_texts__gvpIe .style_bigdesc__ZBWVQ {
        font-size: calc(var(--1)*16) !important
    }
}

.style_hero__DC06C .style_container__Mu_up .style_content__g5c4q .style_texts__gvpIe .style_desc__n_V27 {
    color: #909fc0
}

.style_hero__DC06C .style_links__UXONI {
    display: flex;
    flex-direction: column;
    margin-top: calc(var(--1)*32)
}

@media(max-width:991.98px) {
    .style_hero__DC06C .style_links__UXONI {
        margin-top: 0
    }
}

.style_hero__DC06C .style_links__UXONI .style_linksTitle__nW6TI {
    font-size: calc(var(--1)*22)
}

@media(max-width:991.98px) {
    .style_hero__DC06C .style_links__UXONI .style_linksTitle__nW6TI {
        font-size: calc(var(--1)*16);
        font-weight: 400
    }
}

.style_hero__DC06C .style_links__UXONI .style_list__WA9zz {
    display: grid;
    gap: calc(var(--1)*16);
    margin-top: calc(var(--1)*40);
    width: 100%
}

@media(min-width:991.98px) {
    .style_hero__DC06C .style_links__UXONI .style_list__WA9zz {
        grid-template-columns: repeat(6, 1fr);
        gap: calc(var(--1)*28);
        padding-inline: calc(var(--1)*40)
    }
}

.style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd {
    background: rgba(5, 17, 83, .6);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border: calc(var(--1)*.5) solid #4ab3ff;
    display: flex;
    padding: calc(var(--1)*40)
}

@media(min-width:991.98px) {
    .style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd {
        grid-column: span 4
    }

    .style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd:first-of-type,
    .style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd:nth-of-type(2),
    .style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd:nth-of-type(3) {
        grid-column: span 2
    }

    .style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd:nth-of-type(4),
    .style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd:nth-of-type(5) {
        grid-column: span 3
    }
}

@media(max-width:991.98px) {
    .style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd {
        justify-content: space-between;
        padding: calc(var(--1)*24) calc(var(--1)*32);
        width: 100%;
        border-radius: calc(var(--1)*32);
        gap: calc(var(--1)*0)
    }
}

@media(min-width:991.98px) {
    .style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd {
        flex-direction: column;
        border-radius: calc(var(--1)*32)
    }
}

.style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd div {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*20)
}

@media(max-width:991.98px) {
    .style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd div {
        gap: calc(var(--1)*10)
    }
}

.style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd .style_title__LjqJZ {
    font-weight: 700;
    font-size: calc(var(--1)*60);
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: calc(var(--1)*-12);
    text-align: left
}

@media(max-width:991.98px) {
    .style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd .style_title__LjqJZ {
        font-size: calc(var(--1)*50)
    }
}

.style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd .style_subtitle__KV5FV {
    color: var(--Text-On-Dark-Text-Primary, #fff);
    font-size: calc(var(--1)*22);
    font-style: normal;
    font-weight: 700;
    line-height: 1;
    text-align: left
}

.style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd .style_desc__n_V27 {
    color: var(--Text-On-Dark-Text-Secondary, #c1cade);
    text-align: left;
    font-size: calc(var(--1)*16)
}

.style_hero__DC06C .style_links__UXONI .style_list__WA9zz .style_listItem__LiMrd .style_icon__pqwtr {
    width: calc(var(--1)*30);
    height: calc(var(--1)*30)
}

.style_hero__DC06C .style_button__TVXG1 {
    margin-inline: auto;
    margin-top: calc(var(--1)*60)
}

.style_section___SAyM .style_buttons__jz9Ew {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--1)*12)
}

@media(max-width:991.98px) {
    .style_section___SAyM .style_buttons__jz9Ew {
        flex-direction: column
    }

    .style_section___SAyM .style_buttons__jz9Ew a,
    .style_section___SAyM .style_buttons__jz9Ew button {
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center
    }
}

.style_section___SAyM .style_buttons__jz9Ew .style_termsButton__x9dMq {
    border: calc(var(--1)*1) solid #0d2354
}

.style_section___SAyM .style_content__g2mzh {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*40)
}

.style_section___SAyM .style_content__g2mzh .style_card__HNP2n {
    display: flex;
    gap: calc(var(--1)*20);
    padding: calc(var(--1)*28);
    border-radius: calc(var(--1)*32);
    border: 1.5px solid var(--Strokes-On-Light-Stroke, rgba(3, 19, 56, .12));
    align-items: flex-start;
    justify-content: flex-start
}

@media(min-width:991.98px) {
    .style_section___SAyM .style_content__g2mzh .style_card__HNP2n {
        padding: calc(var(--1)*40);
        gap: calc(var(--1)*40)
    }
}

@media(max-width:991.98px) {
    .style_section___SAyM .style_content__g2mzh .style_card__HNP2n {
        flex-direction: column
    }
}

.style_section___SAyM .style_content__g2mzh .style_card__HNP2n .style_number__Ev_6_ {
    font-size: calc(var(--1)*32);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50%;
    min-width: calc(var(--1)*60);
    min-height: calc(var(--1)*60)
}

.style_section___SAyM .style_content__g2mzh .style_card__HNP2n .style_boxContent__91f0A {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*8)
}

.style_section___SAyM .style_content__g2mzh .style_card__HNP2n .style_boxContent__91f0A .style_title__Xmmn_ {
    letter-spacing: calc(var(--1)*.44);
    font-weight: 700;
    line-height: normal
}

@media(max-width:991.98px) {
    .style_section___SAyM .style_content__g2mzh .style_card__HNP2n .style_boxContent__91f0A .style_title__Xmmn_ {
        letter-spacing: calc(var(--1)*.36)
    }
}

.style_section___SAyM .style_content__g2mzh .style_card__HNP2n .style_boxContent__91f0A .style_title__Xmmn_ a {
    margin-top: calc(var(--1)*10)
}

.style_section___SAyM .style_content__g2mzh .style_card__HNP2n .style_boxContent__91f0A .style_desc__opt05 {
    letter-spacing: calc(var(--1)*.64);
    color: #000a1e
}

@media(max-width:991.98px) {
    .style_section___SAyM .style_content__g2mzh .style_card__HNP2n .style_boxContent__91f0A .style_desc__opt05 {
        letter-spacing: calc(var(--1)*.28)
    }
}