.style_details__8fVhL .style_container__zatnp {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*40)
}

@media(min-width:991.98px) {
    .style_details__8fVhL .style_container__zatnp {
        gap: calc(var(--1)*80)
    }
}

.style_details__8fVhL .style_container__zatnp .style_texts__ieojD {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*20);
    text-align: center
}

.style_details__8fVhL .style_container__zatnp .style_texts__ieojD .style_content__uR0su {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*20)
}

@media(min-width:991.98px) {
    .style_details__8fVhL .style_container__zatnp .style_texts__ieojD .style_content__uR0su {
        max-width: calc(var(--1)*800);
        margin-inline: auto
    }
}

.style_details__8fVhL .style_container__zatnp .style_texts__ieojD .style_content__uR0su .style_bigDesc__ScVXa {
    color: var(--Text-On-Dark-Text-Secondary, #c1cade);
    font-weight: 700
}

.style_details__8fVhL .style_container__zatnp .style_texts__ieojD .style_content__uR0su .style_desc__W8PSe {
    color: var(--Text-On-Dark-Text-Tertiary, #909fc0)
}

@media(min-width:991.98px) {
    .style_details__8fVhL .style_container__zatnp .style_texts__ieojD {
        gap: calc(var(--1)*40)
    }
}

.style_details__8fVhL .style_container__zatnp .style_features__sHvuh {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--1)*20)
}

@media(max-width:991.98px) {
    .style_details__8fVhL .style_container__zatnp .style_features__sHvuh {
        flex-direction: column
    }
}

.style_details__8fVhL .style_container__zatnp .style_features__sHvuh .style_feature__0Jp1L {
    flex: 1;
    display: flex;
    gap: calc(var(--1)*16);
    padding: calc(var(--1)*28);
    border-radius: calc(var(--1)*32);
    flex-direction: column;
    border: 1.5px solid var(--Strokes-On-Dark-Stroke, rgba(0, 148, 255, .16))
}

@media(min-width:991.98px) {
    .style_details__8fVhL .style_container__zatnp .style_features__sHvuh .style_feature__0Jp1L {
        padding: calc(var(--1)*40);
        gap: calc(var(--1)*20)
    }
}

.style_details__8fVhL .style_container__zatnp .style_features__sHvuh .style_feature__0Jp1L .style_title__ge8nW {
    color: var(--Text-On-Dark-Text-Secondary, #c1cade);
    letter-spacing: calc(var(--1)*.64)
}

@media(max-width:991.98px) {
    .style_details__8fVhL .style_container__zatnp .style_features__sHvuh .style_feature__0Jp1L .style_title__ge8nW {
        letter-spacing: calc(var(--1)*.28)
    }
}

.style_details__8fVhL .style_container__zatnp .style_features__sHvuh .style_feature__0Jp1L .style_desc__W8PSe {
    letter-spacing: calc(var(--1)*.44);
    font-weight: 700;
    line-height: normal
}

@media(max-width:991.98px) {
    .style_details__8fVhL .style_container__zatnp .style_features__sHvuh .style_feature__0Jp1L .style_desc__W8PSe {
        letter-spacing: calc(var(--1)*.36)
    }
}

.style_details__8fVhL .style_container__zatnp .style_cards__VzRfE {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--1)*20)
}

@media(max-width:991.98px) {
    .style_details__8fVhL .style_container__zatnp .style_cards__VzRfE {
        flex-direction: column
    }
}

.style_details__8fVhL .style_container__zatnp .style_cards__VzRfE>div {
    flex: 1;
    min-width: 40%
}

.style_tapminer__90tWM .style_container__qei5z {
    display: flex;
    gap: calc(var(--1)*80)
}

.style_tapminer__90tWM .style_container__qei5z .style_imgArea__r4DfI {
    flex: 415;
    height: calc(var(--1)*340)
}

@media(min-width:991.98px) {
    .style_tapminer__90tWM .style_container__qei5z .style_imgArea__r4DfI {
        height: calc(var(--1)*431)
    }
}

.style_tapminer__90tWM .style_container__qei5z .style_content__H_aqM {
    flex: 665;
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*40)
}

@media(max-width:991.98px) {
    .style_tapminer__90tWM .style_container__qei5z .style_content__H_aqM {
        text-align: center;
        gap: calc(var(--1)*20);
        align-items: center
    }
}

.style_tapminer__90tWM .style_container__qei5z .style_content__H_aqM .style_texts__Sti_U {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*20)
}

@media(max-width:991.98px) {
    .style_tapminer__90tWM .style_container__qei5z {
        flex-direction: column;
        gap: calc(var(--1)*40)
    }
}

.style_instructions__XmsnU .style_container__uWUWn {
    display: flex;
    flex-direction: column;
    gap: calc(var(--1)*40)
}

.style_instructions__XmsnU .style_container__uWUWn .style_para___o0ZD {
    display: flex;
    color: #c1cade;
    max-width: calc(var(--1)*750);
    margin-inline: auto;
    text-align: center
}

@media(min-width:991.98px) {
    .style_instructions__XmsnU .style_container__uWUWn {
        gap: calc(var(--1)*80)
    }
}

.style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK {
    display: grid;
    gap: calc(var(--1)*20)
}

.style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK .style_card__O1Wga>div {
    height: 100%
}

@media(min-width:991.98px) {
    .style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK {
        grid-template-columns: repeat(6, 1fr)
    }

    .style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK>div {
        grid-column: span 2
    }

    .style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK>div:first-child,
    .style_instructions__XmsnU .style_container__uWUWn .style_cards__uzbNK>div:nth-child(2) {
        grid-column: span 3
    }
}